.container {
  padding: 1rem;
}

.container.selected {
  padding: 0;
  width: 100%;
}

.video {
  width: 35rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video.selected {
  width: 100%;
  flex-direction: row;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 100%;
  height: 21.6rem;
  margin-bottom: 1rem;
}

.thumbnail.selected {
  width: 16.8rem;
  height: 9.8rem;
  margin-right: 1rem;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channelTitle {
  font-size: 1.3rem;
}

@media screen and (max-width: 42rem) {
  .title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .channelTitle {
    font-size: 1.2rem;
  }
}
