.app {
  max-width: 192rem;
}

.content {
  display: flex;
  padding: 0 3rem;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 78rem) {
  .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 42rem) {
  .content {
    display: flex;
    padding: 0 2rem;
  }
}
